img{
width:100%;
max-width:100%;
max-height:100%;
}



.container{
padding-left:0;
padding-right:0;
}

.row > *{
padding-left:5px;
padding-right:5px;
}

h2 a,h1 a{
color:black;
}

.max-width-50{
max-width:50%;
}

.max-width-90{
max-width:90%;
}

h2 > a{
text-decoration:none;
}
.mt-6{
margin-top:6rem;
}

h1,h2,h3,h4,h5,h6{
margin-bottom:1rem;
font-weight:700;
}

h1{
font-size: calc(1.9rem );
}

h2{
font-size: calc(1.4rem );
}

h3{
font-size: calc(1.2rem );
}


#table1,#table2,#table3{
height:150px;
width:100%;
overflow:hidden;
}

.row{
margin-left:0px !important;
margin-right:0px !important;
}


.metainfo{
font-size: calc(0.8rem );
}

nav{
//background-color:#e7e7e7;
}

.dAwIzq{
   margin-top: 0px!important;
}

time{
font-size:0.8rem;
}

.scrollable{
overflow:auto;
max-height:50vh;
}

.spy-clickable{
margin-top:5px;
}

.row_index{
padding:10px;
}

#main p, #main strong, #main li{
color:#353535;
line-height:1.8rem;
}

.spy-clickable.spy-active{
padding-left:10px;
}

.scrollspy-indicator-container li{
font-size:0.7rem;
}

#indicator{
padding-left:0px;
}

.nodot{
list-style: none;
}

.mobile_toc{
display: none;
}

@media only screen and (max-width: 768px) {
      .row {
        display: flex;
        flex-direction: column;
      }

      .max-width-50{
    max-width:100%;
    }

    .max-width-90{
    max-width:100%;
    }

    #sticky-sidebar{
    display:none;
    }

    .mobile_toc{
        display: inherit;
    }
}