
*, *:before, *:after {
  box-sizing: border-box;
}


.accordion-body{
background-color:#f1f1f1;
}

.math, .statistic{

background-color:#4C7AF1 !important;
}

.filter{
background-color:#05C793  !important;
}

.text-mod{
background-color:#EF436B !important;
}

.database{
background-color:#ff802a !important;
}

.converter{
background-color:#d359ff !important;
}

.sticktop{
    position: sticky;
    top: 0;
    z-index: 99;
}

.pt-6{
 padding-top:4rem!important;
}



#joinimg{
height:auto;
width:100%;
padding: 50px;
padding-top:20px;
padding-bottom:20px;
}

.mb8{
margin-bottom:20px;
}

.width50{
width:50%;
}

.spacer{
height:70px;
}
.spacer_small{
height:35px;
}

.bs-tooltip {
  padding: 20px ;
}

.wrapper {
  //min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-background {
background-color: red !important;
}


.steps {
  width: 400px;
  margin: 0 auto;
}

.step {
  display: flex;
  position: relative;
}
.step:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 32px;
  height: 0;
  width: 4px;
  background-color: #0d6efd;
}
.step .info {
  margin-bottom: 30px;
  width:100%;
}
.step .title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0 0 0px;
  line-height:1.2;
  color: #0d6efd;

}
.step .text {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 0;
  margin: 0;
}
.step:not(:last-child):after {
  height: 100%;
}

.number {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #0d6efd;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #192fcd;
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;
}
.number.completed {
  background-color: #0d6efd;
  color:white;
}
.number svg {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.number svg path {
  fill: white;
}